In [113]:
import pandas as pd
import os.path

In [114]:
hchn = pd.read_excel (os.path.abspath ("./inputs/HCHN ICD-10 Diagnoses.xlsx"), sheet_name = "HCHN Diagnoses")

In [115]:
lista_hchn = hchn.Dx.unique()
pd.options.display.max_columns = 80
pd.options.display.max_rows = 5

In [116]:
assertus_report = pd.read_excel (os.path.abspath ("./inputs/assertus_report_cpt.xlsx"), sheet_name = "Sheet1") 

assertus_report = assertus_report[assertus_report["InsName"] != "APS HEALTHCARE PUERTO RICO INC"] 
assertus_report = assertus_report [[ "sCardContractNo", "dDateFrom", "Dx1", "Dx2", "Dx3", "Dx4", "Dx5", "Dx6", "Dx7", "Dx8", "Dx9", "Dx10", "Dx11", "Dx12","sProcedureCode", "sInsuranceNo"]]
assertus_report.head()

,sCardContractNo,dDateFrom,Dx1,Dx2,Dx3,Dx4,Dx5,Dx6,Dx7,Dx8,Dx9,Dx10,Dx11,Dx12,sProcedureCode,sInsuranceNo
0,80002626754,2020-02-10 08:39:10,Z71.3,Z68.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99203,FIRST MEDICAL
1,80005643134,2020-02-11 15:30:39,I11.9,E78.5,Z71.3,Z00.00,I50.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99213,FIRST MEDICAL
2,80024967779,2020-02-19 15:30:39,K42.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99213,FIRST MEDICAL
3,80005557050,2020-02-10 08:15:59,Z02.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99213,FIRST MEDICAL
4,80002626754,2020-02-20 08:15:59,I70.0,E11.69,E78.2,I11.9,E66.9,Z68.33,NaN,NaN,NaN,NaN,NaN,NaN,99213,FIRST MEDICAL

In [117]:
assertus_report["is_HCHN"] = (assertus_report["Dx1"].isin(lista_hchn)) | (assertus_report["Dx2"].isin(lista_hchn)) | (assertus_report["Dx3"].isin(lista_hchn)) | (assertus_report["Dx4"].isin(lista_hchn)) | (assertus_report["Dx5"].isin(lista_hchn)) | (assertus_report["Dx6"].isin(lista_hchn)) | (assertus_report["Dx7"].isin(lista_hchn)) | (assertus_report["Dx8"].isin(lista_hchn)) | (assertus_report["Dx9"].isin(lista_hchn)) | (assertus_report["Dx10"].isin(lista_hchn)) | (assertus_report["Dx11"].isin(lista_hchn)) | (assertus_report["Dx12"].isin(lista_hchn))

In [118]:
assertus_report = assertus_report[assertus_report["is_HCHN"]]
assertus_report["orden"] = assertus_report.groupby("sCardContractNo")["dDateFrom"].rank(method="dense", ascending=False).astype(int)

In [119]:
assertus_report = assertus_report[assertus_report["orden"] == 1]
assertus_report[assertus_report.columns[:2]][ assertus_report["sCardContractNo"] == 80000043528 ]

Empty DataFrame
Columns: [sCardContractNo, dDateFrom]
Index: []

In [120]:
assertus_report.to_excel("outputs\hola.xlsx", index=False)