In [19]:
import pandas as pd
import os.path

In [20]:
hchn = pd.read_excel (os.path.abspath ("./inputs/HCHN ICD-10 Diagnoses.xlsx"), sheet_name = "HCHN Diagnoses")

In [21]:
pd.options.display.max_columns = 80
pd.options.display.max_rows = 50
lista_hchn = hchn.Dx.unique()
lista_hchn
hchn

,Category,HCHN Category,Dx,Diagnosis Text,Cancer Category
0,Cancer,"Cancer, very high",C25.0,Malignant neoplasm of head of pancreas,Malignant neoplasms of digestive organs
1,Cancer,"Cancer, very high",C25.1,Malignant neoplasm of body of pancreas,Malignant neoplasms of digestive organs
2,Cancer,"Cancer, very high",C25.2,Malignant neoplasm of tail of pancreas,Malignant neoplasms of digestive organs
3,Cancer,"Cancer, very high",C25.3,Malignant neoplasm of pancreatic duct,Malignant neoplasms of digestive organs
4,Cancer,"Cancer, very high",C25.4,Malignant neoplasm of endocrine pancreas,Malignant neoplasms of digestive organs
...,...,...,...,...,...
2705,Renal,"Renal, low",R33.0,Drug induced retention of urine,NaN
2706,Renal,"Renal, low",R33.8,Other retention of urine,NaN
2707,Renal,"Renal, low",R33.9,"Retention of urine, unspecified",NaN
2708,Renal,"Renal, low",R39.14,Feeling of incomplete bladder emptying,NaN
2709,Renal,"Renal, low",R80.2,"Orthostatic proteinuria, unspecified",NaN

In [22]:
assertus_report = pd.read_excel (os.path.abspath ("./inputs/assertus_report2019.xlsx"), sheet_name = "Sheet1") 
assertus_report = assertus_report[assertus_report["InsName"] != "APS HEALTHCARE PUERTO RICO INC"] 
assertus_report = assertus_report [[ "sCardContractNo", "dDateFrom", "Dx1", "Dx2", "Dx3", "Dx4", "Dx5", "Dx6", "Dx7", "Dx8", "Dx9", "Dx10", "Dx11", "Dx12","sProcedureCode", "sInsuranceNo"]]
assertus_report.head()

,sCardContractNo,dDateFrom,Dx1,Dx2,Dx3,Dx4,Dx5,Dx6,Dx7,Dx8,Dx9,Dx10,Dx11,Dx12,sProcedureCode,sInsuranceNo
280,80020294281,2020-01-17 07:28:18,F98.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99213,FIRST MEDICAL
281,80010340499,2020-01-23 08:12:00,E04.2,E88.81,E66.9,K76.0,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99213,FIRST MEDICAL
282,80019828681,2020-01-23 08:12:00,E03.8,E66.9,E78.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99203,FIRST MEDICAL
283,80008627323,2020-01-23 08:12:00,E66.9,E06.3,E04.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99213,FIRST MEDICAL
284,80008356727,2020-01-23 08:12:00,E78.2,E04.2,E55.9,E06.3,E66.9,E53.8,NaN,NaN,NaN,NaN,NaN,NaN,99213,FIRST MEDICAL

In [23]:
assertus_report["is_HCHN"] = (assertus_report["Dx1"].isin(lista_hchn)) | (assertus_report["Dx2"].isin(lista_hchn)) | (assertus_report["Dx3"].isin(lista_hchn)) | (assertus_report["Dx4"].isin(lista_hchn)) | (assertus_report["Dx5"].isin(lista_hchn)) | (assertus_report["Dx6"].isin(lista_hchn)) | (assertus_report["Dx7"].isin(lista_hchn)) | (assertus_report["Dx8"].isin(lista_hchn)) | (assertus_report["Dx9"].isin(lista_hchn)) | (assertus_report["Dx10"].isin(lista_hchn)) | (assertus_report["Dx11"].isin(lista_hchn)) | (assertus_report["Dx12"].isin(lista_hchn))

In [26]:
#Traer la ultima fecha con encuentro HCHN
assertus_report = assertus_report[assertus_report["is_HCHN"]]
assertus_report["orden"] = assertus_report.groupby("sCardContractNo")["dDateFrom"].rank(method="dense", ascending=False).astype(int)
print (assertus_report)

       sCardContractNo           dDateFrom      Dx1     Dx2       Dx3  \
281        80010340499 2020-01-23 08:12:00    E04.2  E88.81     E66.9
287        80029659129 2020-01-14 14:47:18   J45.21   J06.9  S09.93XA
296        80032447817 2020-01-13 13:05:09    B35.1   E11.9    Z68.33
297        80032447817 2020-01-13 13:05:09    B35.1   E11.9    Z68.33
298        80032447817 2020-01-13 13:05:09    B35.1   E11.9    Z68.33
...                ...                 ...      ...     ...       ...
115318     80001841864 2020-06-19 07:12:09  M25.562   G80.9   J45.909
115319     80001841864 2020-06-19 07:12:09  M25.562   G80.9   J45.909
115320     80000165416 2020-06-22 07:12:09      I10   E78.5       NaN
115321     80000165416 2020-06-22 07:12:09      I10   E78.5       NaN
115322     80000165416 2020-06-22 07:12:09      I10   E78.5       NaN

            Dx4  Dx5  Dx6  Dx7  Dx8  Dx9 Dx10 Dx11 Dx12 sProcedureCode  \
281       K76.0  I10  NaN  NaN  NaN  NaN  NaN  NaN  NaN          99213
287         NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN          99213
296      Z01.31  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN          99213
297      Z01.31  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN          3008F
298      Z01.31  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN          3077F
...         ...  ...  ...  ...  ...  ...  ...  ...  ...            ...
115318  M19.072  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN          3078F
115319  M19.072  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN          3008F
115320      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN          3044F
115321      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN          3050F
115322      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN          99442

         sInsuranceNo  is_HCHN  orden
281     FIRST MEDICAL     True      1
287     FIRST MEDICAL     True      4
296     FIRST MEDICAL     True      2
297     FIRST MEDICAL     True      2
298     FIRST MEDICAL     True      2
...               ...      ...    ...
115318      SSS VITAL     True      1
115319      SSS VITAL     True      1
115320      SSS VITAL     True      1
115321      SSS VITAL     True      1
115322      SSS VITAL     True      1

[61846 rows x 18 columns]

In [18]:
assertus_report = assertus_report[assertus_report["orden"] == 1]
assertus_report[assertus_report.columns[:2]][ assertus_report["sCardContractNo"] == 80000043528 ]

#Automatizando Cpts
assertus_report [assertus_report.sProcedureCode.isin([99441, 99442, 99443,99213, 99203])]
assertus_report = assertus_report [assertus_report.sProcedureCode.isin([99441, 99442, 99443,99213, 99203])]
assertus_report

,sCardContractNo,dDateFrom,Dx1,Dx2,Dx3,Dx4,Dx5,Dx6,Dx7,Dx8,Dx9,Dx10,Dx11,Dx12,sProcedureCode,sInsuranceNo,is_HCHN,orden
281,80010340499,2020-01-23 08:12:00,E04.2,E88.81,E66.9,K76.0,I10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99213,FIRST MEDICAL,True,1
345,80021159064,2020-01-14 14:11:56,I11.9,G43.909,J45.20,F33.1,F41.9,Z68.22,NaN,NaN,NaN,NaN,NaN,NaN,99203,FIRST MEDICAL,True,1
375,80006434303,2020-01-23 09:06:16,I11.9,Z00.00,J45.909,I73.9,E55.9,J30.9,E05.90,NaN,NaN,NaN,NaN,NaN,99213,FIRST MEDICAL,True,1
431,80005151428,2020-01-16 08:08:14,N40.0,E03.9,E78.00,R32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99213,FIRST MEDICAL,True,1
502,80004424256,2020-01-20 08:06:27,S93.401A,Z68.42,E66.01,I11.9,E03.8,K21.9,E16.2,M54.5,Z00.01,NaN,NaN,NaN,99213,FIRST MEDICAL,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115284,80000020192,2020-06-17 10:26:48,I11.9,E78.2,E03.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99441,SSS VITAL,True,1
115296,80019620756,2020-06-24 07:12:09,I11.9,E78.2,J32.8,Z76.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99441,SSS VITAL,True,1
115314,80034396489,2020-06-23 07:12:09,I10,B18.2,G20,E03.9,E55.9,Z68.20,NaN,NaN,NaN,NaN,NaN,NaN,99203,SSS VITAL,True,1
115316,80001841864,2020-06-19 07:12:09,M25.562,G80.9,J45.909,M19.072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99213,SSS VITAL,True,1
115322,80000165416,2020-06-22 07:12:09,I10,E78.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99442,SSS VITAL,True,1

In [20]:
assertus_report.to_excel("outputs\hola.xlsx", index=False)