In [1]:
import pandas as pd 
import os.path
#Escogiendo cuantas columnas y filas presentar 
pd.options.display.max_columns = 30
pd.options.display.max_rows = 10

In [ ]:
assertus = pd.read_excel (os.path.abspath ("./inputs/assertus_report.xlsx"), sheet_name = "Sheet1") 
hchn = pd.read_excel (os.path.abspath ("./inputs/HCHN ICD-10 Diagnoses.xlsx"), sheet_name = "HCHN Diagnoses")

In [ ]:
assertus2 = assertus [["dDateFrom","sCardContractNo", "Dx1", "Dx2", "Dx3", "Dx4", "Dx5", "Dx6", "Dx7", "Dx8", "Dx9", "Dx10", "Dx11","Dx12" ] ]
assertus2

In [152]:
assertus2 = pd.melt(assertus2,id_vars=["sCardContractNo"])

In [153]:
assertus ["sCardContractNo"] == 80013327199

0       False
1       False
2       False
3       False
4       False
        ...
9418    False
9419    False
9420    False
9421    False
9422     True
Name: sCardContractNo, Length: 9423, dtype: bool

In [154]:
assertus2

       sCardContractNo   variable                value
0          80002626754  dDateFrom  2020-02-10 08:39:10
1          80005643134  dDateFrom  2020-02-11 15:30:39
2          80024967779  dDateFrom  2020-02-19 15:30:39
3          80005557050  dDateFrom  2020-02-10 08:15:59
4          80002626754  dDateFrom  2020-02-20 08:15:59
...                ...        ...                  ...
122494     80001422663       Dx12                  NaN
122495     80033626456       Dx12                  NaN
122496     80012319277       Dx12                  NaN
122497     80022271684       Dx12                  NaN
122498     80013327199       Dx12                  NaN

[122499 rows x 3 columns]

In [155]:
hchn

,Category,HCHN Category,Dx,Diagnosis Text,Cancer Category
0,Cancer,"Cancer, very high",C25.0,Malignant neoplasm of head of pancreas,Malignant neoplasms of digestive organs
1,Cancer,"Cancer, very high",C25.1,Malignant neoplasm of body of pancreas,Malignant neoplasms of digestive organs
2,Cancer,"Cancer, very high",C25.2,Malignant neoplasm of tail of pancreas,Malignant neoplasms of digestive organs
3,Cancer,"Cancer, very high",C25.3,Malignant neoplasm of pancreatic duct,Malignant neoplasms of digestive organs
4,Cancer,"Cancer, very high",C25.4,Malignant neoplasm of endocrine pancreas,Malignant neoplasms of digestive organs
...,...,...,...,...,...
2705,Renal,"Renal, low",R33.0,Drug induced retention of urine,NaN
2706,Renal,"Renal, low",R33.8,Other retention of urine,NaN
2707,Renal,"Renal, low",R33.9,"Retention of urine, unspecified",NaN
2708,Renal,"Renal, low",R39.14,Feeling of incomplete bladder emptying,NaN
2709,Renal,"Renal, low",R80.2,"Orthostatic proteinuria, unspecified",NaN

In [164]:
assertus_HCHN = assertus2.merge(hchn, how = "left", left_on = "value", right_on = "Dx")
assertus_HCHN = assertus_HCHN.dropna()

In [165]:
assertus_HCHN.to_excel("./outputs/probando12.xlsx")

In [158]:
assertus_HCHN["sCardContractNo"].describe

<bound method NDFrame.describe of 9649      80022010697
10173     80009303211
10334     80006230821
10654     80015502980
10737     80006230821
             ...
98923     80025618130
103987    80022010697
104094    80022010697
108306    80001122624
113329    80022010697
Name: sCardContractNo, Length: 196, dtype: object>